<! DOCTYPE html >
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home page</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body >
        <div class="app">
            <div class="home-page-container">
                <div class="home-page">
                    <div class="get-started-container">
                        <div class="get-started-sub-container">
                            <h1 class="get-started-text">Get Started with your day now !!!</h1>
                            <h3 class="get-started-sub-text">It's never too late to plan your day, stay motivated </h3>
                            <div class="start-planning-button" >
                                <a id="to" href="/todo"><button class="start-button"   style="height:35px; width:200px; border-radius:25px; ">  Start Planning </button> </a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="image-container">
                    
                </div>
            </div>
        </div>
        <div class="login-form">
            <form method = "post" action="/"></form>
            <input type="name"></input>
        </div>
        <script>
           
        </script>
    </body>

</html>